<!-- -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>Cuentas</span>
    </ion-title>
  </ion-navbar>
  

  <!--  -->
  <ion-toolbar padding color="light">
    <p ion-text no-margin class="text-white">
      <strong>{{ cuentas.length }}</strong> Resultados Encontrados!
    </p>
  </ion-toolbar>

</ion-header>

<ion-content padding class="trips detail-bg">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--list of trips-->
  <div class="trip card" *ngFor="let cuenta of cuentas" tappable (click)="entrarACuenta(cuenta)" margin-bottom>
    <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + 'assets/img/trip/thumb/trip_'+ cuenta.imgNumber  +'.jpg' + ')'}">
      <div class="background-filter rlt">
        <div class="align-bottom" padding-left padding-right>
          <h6 class="pull-left text-white" ion-text>{{ cuenta.nombre }}</h6>
          <h6 class="pull-right text-white" ion-text>{{ cuenta.saldo | currency:'COP':true }}</h6>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="padding-sm primary-bg">
      <ion-icon name="ellipse" class="text-white"></ion-icon>
      <span ion-text class="text-white">ID Cuenta: {{ cuenta.id }}</span>
    </div>
  </div>
  <ion-card *ngIf="cuentas.length == 0">
    <ion-card-content style="text-align: center;">
      ----- No hay cuentas Asociadas -----
    </ion-card-content>
  </ion-card>
</ion-content>

